Import necessary packages: pandas, numpy and plotly

设置plotly显示结果的模式

In [2]:
plotly.offline.init_notebook_mode(connected=True)

读取csv数据到pandas DataFrame

用shape和head()来查看数据的基本情况

找出来占了多行的国家

In [5]:
countries, counts = np.unique(df['Country/Region'].values, return_counts = True)
multi_region_countries = {countries[i] : counts[i] for i in range(len(countries)) if counts[i] > 1}
multi_region_countries

{'Australia': 9,
 'Canada': 12,
 'China': 33,
 'Denmark': 3,
 'France': 9,
 'Netherlands': 4,
 'US': 249,
 'United Kingdom': 7}

查看每个国家的情况，都是什么样的行政单位占了很多行

In [6]:
df[df["Country/Region"] == "Denmark"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
170,Denmark,Denmark,56.2639,9.5018,0,0,0,0,0,0,...,827,864,914,977,1057,1151,1255,1326,1395,1395.0
197,Faroe Islands,Denmark,61.8926,-6.9118,0,0,0,0,0,0,...,9,11,18,47,58,72,80,92,115,115.0
461,Greenland,Denmark,71.7069,-42.6043,0,0,0,0,0,0,...,0,0,1,1,1,2,2,2,4,4.0

其中美国比较特殊，除了州以外，还包括了county的信息

In [7]:
df[df['Country/Region'] == 'US']['Province/State'].values

array(['Washington', 'New York', 'California', 'Massachusetts',
       'Diamond Princess', 'Grand Princess', 'Georgia', 'Colorado',
       'Florida', 'New Jersey', 'Oregon', 'Texas', 'Illinois',
       'Pennsylvania', 'Iowa', 'Maryland', 'North Carolina',
       'South Carolina', 'Tennessee', 'Virginia', 'Arizona', 'Indiana',
       'Kentucky', 'District of Columbia', 'Nevada', 'New Hampshire',
       'Minnesota', 'Nebraska', 'Ohio', 'Rhode Island', 'Wisconsin',
       'Connecticut', 'Hawaii', 'Oklahoma', 'Utah', 'Kansas', 'Louisiana',
       'Missouri', 'Vermont', 'Alaska', 'Arkansas', 'Delaware', 'Idaho',
       'Maine', 'Michigan', 'Mississippi', 'Montana', 'New Mexico',
       'North Dakota', 'South Dakota', 'West Virginia', 'Wyoming',
       'Kitsap, WA', 'Solano, CA', 'Santa Cruz, CA', 'Napa, CA',
       'Ventura, CA', 'Worcester, MA', 'Gwinnett, GA', 'DeKalb, GA',
       'Floyd, GA', 'Fayette, GA', 'Gregg, TX', 'Monmouth, NJ',
       'Burlington, NJ', 'Camden, NJ', 'Passaic, NJ', 'Union, NJ',
       'Eagle, CO', 'Larimer, CO', 'Arapahoe, CO', 'Gunnison, CO',
       'Kane, IL', 'Monroe, PA', 'Philadelphia, PA', 'Norfolk, VA',
       'Arlington, VA', 'Spotsylvania, VA', 'Loudoun, VA',
       "Prince George's, MD", 'Pottawattamie, IA', 'Camden, NC',
       'Pima, AZ', 'Noble, IN', 'Adams, IN', 'Boone, IN', 'Dane, WI',
       'Pierce, WI', 'Cuyahoga, OH', 'Weber, UT', 'Bennington County, VT',
       'Carver County, MN', 'Charlotte County, FL', 'Cherokee County, GA',
       'Collin County, TX', 'Jefferson County, KY',
       'Jefferson Parish, LA', 'Shasta County, CA',
       'Spartanburg County, SC', 'Harrison County, KY',
       'Johnson County, IA', 'Berkshire County, MA',
       'Davidson County, TN', 'Douglas County, OR', 'Fresno County, CA',
       'Harford County, MD', 'Hendricks County, IN', 'Hudson County, NJ',
       'Johnson County, KS', 'Kittitas County, WA', 'Manatee County, FL',
       'Marion County, OR', 'Okaloosa County, FL', 'Polk County, GA',
       'Riverside County, CA', 'Shelby County, TN',
       'St. Louis County, MO', 'Suffolk County, NY', 'Ulster County, NY',
       'Volusia County, FL', 'Fairfax County, VA',
       'Rockingham County, NH', 'Washington, D.C.',
       'Montgomery County, PA', 'Alameda County, CA',
       'Broward County, FL', 'Lee County, FL', 'Pinal County, AZ',
       'Rockland County, NY', 'Saratoga County, NY',
       'Charleston County, SC', 'Clark County, WA', 'Cobb County, GA',
       'Davis County, UT', 'El Paso County, CO', 'Honolulu County, HI',
       'Jackson County, OR ', 'Jefferson County, WA',
       'Kershaw County, SC', 'Klamath County, OR', 'Madera County, CA',
       'Pierce County, WA', 'Tulsa County, OK', 'Douglas County, CO',
       'Providence County, RI', 'Chatham County, NC',
       'Delaware County, PA', 'Douglas County, NE', 'Fayette County, KY',
       'Marion County, IN', 'Middlesex County, MA', 'Nassau County, NY',
       'Ramsey County, MN', 'Washoe County, NV', 'Wayne County, PA',
       'Yolo County, CA', 'Santa Clara County, CA', 'Clark County, NV',
       'Fort Bend County, TX', 'Grant County, WA',
       'Santa Rosa County, FL', 'Williamson County, TN',
       'New York County, NY', 'Montgomery County, MD',
       'Suffolk County, MA', 'Denver County, CO', 'Summit County, CO',
       'Bergen County, NJ', 'Harris County, TX',
       'San Francisco County, CA', 'Contra Costa County, CA',
       'Orange County, CA', 'Norfolk County, MA', 'Maricopa County, AZ',
       'Wake County, NC', 'Westchester County, NY', 'Grafton County, NH',
       'Hillsborough, FL', 'Placer County, CA', 'San Mateo, CA',
       'Sonoma County, CA', 'Umatilla, OR', 'Fulton County, GA',
       'Washington County, OR', 'Snohomish County, WA',
       'Humboldt County, CA', 'Sacramento County, CA',
       'San Diego County, CA', 'San Benito, CA', 'Los Angeles, CA',
       'King County, WA', 'Cook County, IL', 'Skagit, WA', 'Thurston, WA',
       'Island, WA', 'Whatcom, WA', 'Marin, CA', 'Calaveras, CA',
       'Stanislaus, CA', 'San Joaquin, CA', 'Essex, MA', 'Charlton, GA',
       'Collier, FL', 'Pinellas, FL', 'Alachua, FL', 'Nassau, FL',
       'Pasco, FL', 'Dallas, TX', 'Tarrant, TX', 'Montgomery, TX',
       'Middlesex, NJ', 'Jefferson, CO', 'Multnomah, OR', 'Polk, OR',
       'Deschutes, OR', 'McHenry, IL', 'Lake, IL', 'Bucks, PA',
       'Hanover, VA', 'Lancaster, SC', 'Sullivan, TN', 'Johnson, IN',
       'Howard, IN', 'St. Joseph, IN', 'Knox, NE', 'Stark, OH',
       'Anoka, MN', 'Olmsted, MN', 'Summit, UT', 'Fairfield, CT',
       'Litchfield, CT', 'Orleans, LA', 'Pennington, SD', 'Beadle, SD',
       'Charles Mix, SD', 'Davison, SD', 'Minnehaha, SD', 'Bon Homme, SD',
       'Socorro, NM', 'Bernalillo, NM', 'Oakland, MI', 'Wayne, MI',
       'New Castle, DE', 'Alabama', 'Puerto Rico', 'Guam',
       'Virgin Islands', 'United States Virgin Islands', 'US'],
      dtype=object)

观察发现只有美国比较难搞，其它国家都可以把不同的行政区直接加起来。。。美国的包含一大堆county的名字，在Province/State中含有逗号, 通过这个来识别并去掉
注意，英国、法国等包含一个与本国名相同的Province/State, 指的是本土
所以:
1. 先drop掉美国的这些county
2. 对于其它国家，数量上把整个国家的加起来，Lat/Long按照本土的或者首都位置来设置

用一个函数来aggregate每一个国家的不同province/state

读入国家代码数据， 用于plotly package

In [12]:
country_code = pd.read_excel("country_code.xlsx")
country_code.set_index("COUNTRY")

               CODE
COUNTRY
Afghanistan     AFG
Albania         ALB
Algeria         DZA
American Samoa  ASM
Andorra         AND
...             ...
Virgin Islands  VGB
West Bank       WBG
Yemen           YEM
Zambia          ZMB
Zimbabwe        ZWE

[222 rows x 1 columns]

把两个数据集中的国家名字拿出来

获取差集

为这些在df中没有数据的国家，创建空白数据

把在在country code中有，但是没有COVID19统计数据的国家的空白数据添加到df中

In [ ]:
把空白数据拼接到df中去

剔除没有country code的国家

In [1]:
def draw_figure(df, date):
    fig = go.Figure(data=go.Choropleth(
        locations = df['CODE'],
        z = df[date],
    ))

    fig.update_layout(
        title_text='COVID19 Accumulative Confirmed Cases',
    )
    return fig
date = '3/21/20'
fig = draw_figure(cleaned_df, date)
fig.show()

NameError: name 'cleaned_df' is not defined

In [24]:
plotly.offline.plot(fig, filename='cov19-confirmed.html')

'cov19-confirmed.html'